@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  max-width: 150rem;
}

body {
  font-family: "inter", sans-serif;
  background-color: #f9f9f9;
}

.container {
  margin: 0 auto;
}
/*---------------------------------------------------------- */
/*---------------------------------------------------------- */
/*---------------------------------------------------------- */

/* -section hero */
.hero {
  height: 100vh;
  display: flex;
}

.hero__img {
  border-radius: 15px 0px 0px 15px;
  background: #e5e5fb;
  height: 100%;
  max-height: 75rem;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  height: 100%;
  max-height: 75rem;
  width: 50%;
  gap: 5rem;
}

.hero__img img {
  width: 100%;
  padding: 4rem;
}

.heading-primary {
  color: #333;
  font-weight: 500;
  font-size: 5rem;
  line-height: 1.2;
  font-style: sans-serif;
  margin: -5rem 4rem 1rem 4rem;
}

.hero__text p {
  color: #555;
  font-size: 1.8rem;
  margin: -4rem 4rem -1.5rem;
  line-height: 1.4;
}

.btn-hero {
  background: #3f3f55;
  color: #fff;
  font-family: "Inter", sans-serif;
  text-align: center;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  align-self: start;
  margin: 0 4rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.btn-hero:hover {
  background: #555;
}

/* -section nav */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 1.2rem 3rem;
  position: relative;
  box-shadow: 0px 1px 5px 0px #e5e5fb;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.nav-container {
  width: 36%;
  display: flex;
  justify-content: space-between;
}

.nav-item {
  color: #555;
  font-style: "inter";
  font-weight: 500;
  font-size: 1.6rem;
}

.logo {
  height: 4.6rem;
}

.nav-buttons {
  width: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20%;
  margin: 0 3rem;
}

.nav-btn-primary {
  padding: 1.6vh 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 5px;
  background: #e5e5fb;
  color: #333;
  font-style: "inter";
  font-weight: 500;
  font-size: 1.6rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.nav-btn-secondary {
  font-size: 1.6rem;
  font-weight: 500;
  color: #555;
}

/* /* -section key benefits  */

.section-benefits {
  display: flex;
  flex-direction: column;
  margin: 9.6rem 3rem;
}

.section-title {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  margin-left: 2rem;
}

.section-benefits .section-title {
  margin-bottom: 8%;
}

.section-title-name {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid #666;
  font-size: 1.6rem;
  flex-shrink: 1;
  align-self: start;
  padding: 1rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  color: #333;
}

.heading-secondary {
  font-size: 5rem;
  font-weight: 500;
  color: #333;
}

.section-benefits .section-title {
  margin-left: 2rem;
}

.benefits-container-cards {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.benefits-card {
  height: 40rem;
  max-height: 45rem;
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 26%;
  background: #fff;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  box-shadow: 0 0 4px 0 #888;
  padding: 3.6rem;
}

.text-card {
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.benefits-card p {
  font-size: 1.8rem;
  line-height: 1.6;
  color: #444;
}

.benefits-card svg {
  height: 7rem;
  margin: 1rem 0 0 0;
}

.benefits-card h6 {
  font-size: 3rem;
  font-weight: 500;
  color: #333;
}

/* -section cover */

.cover {
  margin: 0 auto;
  width: 100vw;
}

.slider-wrapper {
  position: relative;
  width: 70%;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 0 9.6rem 0;
}

.slider {
  display: flex;
  aspect-ratio: 16 / 9;
  overflow-x: auto;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav {
  display: flex;
  column-gap: 1.5rem;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
  -webkit-transition: opacity ease 250ms;
  -moz-transition: opacity ease 250ms;
  -ms-transition: opacity ease 250ms;
  -o-transition: opacity ease 250ms;
}

.slider-nav a:hover {
  opacity: 1;
}

#slide-1,
#slide-2,
#slide-3 {
  width: 100%;
}

.about .section-title {
  align-items: center;
}

.about .section-title-name {
  align-self: center;
}

/* -section about */

/* .about {} */
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 9.6rem;
  padding: 9.6rem 0;
}

.about {
  padding: 0 0 9.6rem 0;
}

.about-container-1 {
  width: 90%;
  display: flex;
  justify-content: space-around;
}

.about-card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50rem;
  height: 45rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  box-shadow: 0 0 0.2rem 0 #666;
}
.about-card img {
  width: 100%;
  object-fit: cover;
}

.about-card .text-box {
  height: 100%;
  font-size: 2.4rem;
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.4;
  font-weight: 500;
  color: #555;
}

.btn-about {
  position: absolute;
  background-color: #fff;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: #555;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  bottom: 50%;
  transform: translate(50%, 125%);
  -webkit-transform: translate(50%, 125%);
  -moz-transform: translate(50%, 125%);
  -ms-transform: translate(50%, 125%);
  -o-transform: translate(50%, 125%);
  box-shadow: 0 0 0.05rem 0 #666;
}

.about-container-2 {
  width: 80%;
  padding: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-card-3 {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.about-card-3 img {
  width: 100%;
}

.card-3-text-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.card-3-title {
  font-size: 3rem;
  color: #444;
  text-align: center;
  padding: 3rem 0; 
}

.card-3-text {
  display: flex;
  justify-content: space-around;
  padding: 0 3rem;
  
}

.card-3-text p{
  color: #555;
  font-size: 2.6rem;
  line-height: 1.6;
  font-weight: 500; 
}

.card-3-text span {
  color: #364689;
}

.card-3-text div {
  display: flex;
  flex-direction: column;
}
.card-3-text div button {
  color: #444;
  border: none;
  background: none;
  font-weight: 500;
  font-size: 1.8rem;
  padding: 3rem;
  cursor: pointer;
  font-style: 'inter';
}

/* -section cta */

.cta {
  height: 100vh;
}

.cta-container {
  padding: 0 3rem;
  display: flex;
  justify-content: space-around;
  margin: 0 3rem;
}

.cta img {
  width: 35%;
  border-radius: 0.1rem;
  box-shadow: 0 0 0.5rem #7777;
}

.cta-text-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10%;
  align-items: start;
}

.title-cta {
  text-align: center;
}

.title-cta h2 {
  font-size: 4rem;
  padding: 0 4rem 3rem;
  color: #444;
}

.title-cta p {
  font-size: 1.8rem;
  color: #666;
  font-weight: 500;
}

.cta-text-container form {
  align-self: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-text {
  position: relative;
}

.form-text input {
  height: 4.6rem;
  width: 38rem;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 0 0.5rem #7777;
  padding: 2rem;
  color: #555;
}

.form-text input::placeholder {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  color: #b0abab;
}

.form-text img {
  opacity: 40%;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-50%, 50%);
  height: 2.2rem;
  width: 2.2rem;
}

.form-check input {
  margin: 1rem;
  cursor: pointer;
}

.form-check label {
  font-size: 1.2rem;
  font-weight: 500;
  color: #666;
}

.form-submit {
  align-self: center;
}

.form-submit input {
  cursor: pointer;
  padding: 1rem 3rem;
  background-color: #eee;
  border: none;
  color: #9264E0;
  font-size: 1.8rem;
  font-weight: 500;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem 0 #9264E0;
}

/* -section faq */
.faq {
  margin-bottom: 9.6rem;
}

.faq .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}

.faq .section-title {
  padding: 0 10rem;
  text-align: center;
}

.faq .section-title p {
  font-size: 2rem;
  font-weight: 500;
  color: #666;
  line-height: 1.6;
}

.faq .section-title-name {
  align-self: center;
}

.accordion {
  width: 70rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  border-bottom: 2px solid #ddd;
  padding: 3rem 0 6rem;
}

.accordion-item {
  border-radius: 0.5rem;
  border: 0.2rem solid #ddd;
  padding: 2rem;
  width: 100%;
}

.accordion-title {
  cursor: pointer;
  background-color: #f5f5f5;
  user-select: none;
  font-size: 3rem;
  font-weight: 500;
  color: #555;
  text-align: center;
}

.accordion-content {
  display: none;
  padding: 2.6rem 1.6rem 0;
}

.accordion-item.active .accordion-content {
  display: block;
}

.accordion-content {
  font-size: 1.6rem;
  line-height: 1.7;
  font-weight: 500;
  color: #777;
}

#footer {
  border-top: 2px solid #ddd;
}

.footer-container {
  display: flex;
  height: 40rem;
  padding: 3rem;
  justify-content: space-between;
}

.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.footer-left .logo{
 align-self: center;
}

.rights {
  font-weight: 500;
  color: #555;
  font-size: 1.6rem; 
}

.footer-rigth {
  display: flex;
  /* width: 60%; */
  justify-content: space-around;
  align-items: start;
  width: 50%;
}

.footer-container-links {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.link-title {
  font-size: 1.8rem; 
  color: #333;
  font-weight: 500;  
}

.link-item {
  font-weight: 500;
  color: #666;
  font-size: 1.6rem; 
}